[Unit]
Description=SH Platform Portfolio Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/sh-platform
ExecStart=/usr/bin/java -Xmx384m -Xms128m -jar /home/ubuntu/sh-platform/builds/sh-platform-portfolio.jar --server.port=8083
Restart=on-failure
RestartSec=10
EnvironmentFile=/home/ubuntu/sh-platform/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
